<div class="guest-landing">
  <div class="guest-nav">
    <div class="logo">
      <h1>GoEvent</h1>
    </div>
    <div class="left-guest-nav">
      <%= link_to "Sign in", auth_signin_page_path, class: "signin"%>
      <%= link_to "Sign up", auth_signup_page_path, class: "signup"%>
    </div>
  </div>
  <div class="heading">
    <div class="heading-description">
      <h1>Where Every Event Has a Story</h1>
      <p>Your events, made simple. Discover and reserve your place at exclusive events with just a few clicks. Sign up today and never miss out on the fun!</p>
      <%= link_to "Get Started", auth_signup_page_path, class: "get-started"%>
    </div>
  </div>
</div>
<div class="about-section">
  <div class="about">
    <div class="about-content">
      <h1>About GoEvent</h1>
      <p>At GoEvent, we believe that every event has a story waiting to be told. Our platform is designed to make event management and participation effortless and enjoyable. Whether you're organizing a small gathering or a large conference, GoEvent provides the tools you need to create memorable experiences. Join us today and be part of a community where events come to life!</p>
    </div>
  </div>
</div>